{{!< main}} <!-- Mantém o layout base -->
<div class="cab">
    <h1 class="col-6 offset-3 text-center" id="t1">Controle de Patrimônio AFFEMG</h1>
</div>
<main class="container mt-5">
   <div class="container mt-4"> 
        <div><a class="btn btn-outline-primary" href="/patrimonioRelatorio">Relatório de Patrimônio</a></div><br> 
        <div class="andar">
            <div><strong><label id="andar">Escolha o Andar:</label></strong></div><br>           
            <div>
                <a class="btn btn-outline-success" href="/patrimonio_11">Andar 10</a>
                <a class="btn btn-outline-success" href="/patrimonio_12">Andar 11</a></div>
            <div><br>               
                <a class="btn btn-outline-success" href="/patrimonio_09">Andar 8</a>
                <a class="btn btn-outline-success" href="/patrimonio_10">Andar 9</a>
            </div><br>
            <div>               
                <a class="btn btn-outline-primary" href="/patrimonio_07">Andar 6</a>
                <a class="btn btn-outline-primary" href="/patrimonio_08">Andar 7</a>
            </div><br>
            <div>               
                <a class="btn btn-outline-success" href="/patrimonio_05">Andar 4</a>
                <a class="btn btn-outline-primary" href="/patrimonio_06">Andar 5</a>
            </div><br>
            <div>
                <a class="btn btn-outline-primary" href="/patrimonio_03">Andar 2</a>
                <a class="btn btn-outline-primary" href="/patrimonio_04">Andar 3</a>               
            </div><br>
            <div>      
                <a class="btn btn-outline-primary restriPatrimonio" href="/patrimonio_01"  data-senha="1234">Andar -1</a>
                <a class="btn btn-outline-primary" href="/patrimonio_02" data-senha="12345">Andar 1</a>
            </div><br>
            <div>
                <a class="btn btn-outline-primary restriPatrimonio" href="/patrimonio_00" data-senha="123">Andar -2</a>

            </div>
        </div>
    </div>  
    <div >
        <picture class="img-affemg">
            <img src="/imagens/affemg2.jpeg" class="rounded float-left" alt="affemg" class="img-fluid mb-2" style="object-fit: cover; height: 300px;" />
        </picture>
    </div>
    <div >
        <picture class="img-funda">
            <img src="/imagens/fundaffemg_2.jpg"  alt="fundaffemg" class="img-fluid mb-2" style="object-fit: cover; height: 300px;" /> 
        </picture>
    </div>
    <div  class="textpatrimonio">
        <strong>
            <p>AFFEMG e FUNDAFFEMG cada vez mais tecnológica rumo ao futuro!!!</p>
        </strong>
    </div>
        
    
           
            
    
      
</main>  
<footer class="card-footer">
    <p>
        Site criado por <a href="https://github.com/wcalazans81" target="_blank" rel="external">Wellington Calazans</a> <br>
        No desafio do <a href="https://www.youtube.com/c/CursoemV%C3%ADdeo" target="_blank" rel="external">Curso em Vídeo</a>
    </p>
</footer>
{{!--<script src="/js/patrimonio.js"></script>--}}